<div class="container">
  <div class="leftbar">

    <h1 class="searchtag">#<%= params[:tag] %></h1>
    <p class="suptag">#<%= params[:tag] %></p>
    <p class="suptag2">#<%= params[:tag] %></p>
    <p class="suptag3">#<%= params[:tag] %></p>
    <p class="suptag4">#<%= params[:tag] %></p>



  </div>
  <div class="rightbar">

    <%= image_tag @first_image_url, class: 'bigpic', id: "main_image" %>

    <%= video_tag "", hidden: true, class: 'bigpic', id: 'main_vid', controls: true %>

    <div class="smallbar">
      <% @medias.each do |media| %>

      <% if media['type'] == 'video' %>
        <video class="smallpic" controls>
          <source src="<%= media['videos']['standard_resolution']['url'] %>">
        </video>
        <% else %>
          <%= image_tag media['images']['standard_resolution']['url'], class: 'smallpic' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



