<h2>#<%= params[:tag] %></h2>

<div class="rightbar">
  <%= image_tag @first_image_url, class: 'bigpic', id: "main_image" %>

  <%= video_tag "", hidden: true, class: 'bigpic', id: 'main_vid', controls: true %>


  <div class="smallbar">
    <% @medias.each do |media| %>

      <% if media['type'] == 'video' %>
        <video class="smallpic" controls>
          <source src="<%= media['videos']['standard_resolution']['url'] %>">
        </video>
      <% else %>
        <%= image_tag media['images']['standard_resolution']['url'], class: 'smallpic' %>
      <% end %>
    <% end %>
  </div>

  <div class="smallbar">
    <% @tags['data'].each do |result| %>
      <% if result['type'] == ['video'] %>
        <video controls>
          <source src="<%= result['videos']['standard_resolution']['url'] %>">
        </video>
      <% else %>
        <img class="smallpic" src="<%= result['images']['standard_resolution']['url'] %>">
      <% end %>
    <% end %>
  </div>
</div>



