<h2>#<%= params[:tag] %></h2>

      <% @tags['data'].each do |result| %>
        <% if result['type'] == ['video'] %>
          <video controls>
            <source src="<%= result['videos']['standard_resolution']['url'] %>">
          </video>
        <% else %>

          <img src="<%= result['images']['standard_resolution']['url'] %>">

      <% end %>


<% end %>
<head><link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="imgpage.css"></head>

  <div class="container">
    <div class="leftbar">
      <div class="addresstop"></div>
      <h1 class="searchtag">#MIAMITECH</h1>
      <p class="suptag">#WYNCODE</p>
      <p class="suptag">#EMERGE15</p>
      <p class="suptag">#OTHERHASHTAG</p>
      <p class="suptag">#OTHERHASHTAG</p>
      <p class="suptag">#OTHERHASHTAG</p>
      <div class="addressbottom"></div>
    </div>
    
    <div class="rightbar">
       <img src="<% @tags['data'].each do |result| %>
        <% if result['type'] == ['video'] %>
          <video controls>
            <source src='<%= result['videos']['standard_resolution']['url'] %>''>
          </video>
        <% else %>

          <img src='<%= result['images']['standard_resolution']['url'] %>''>

      <% end %> >"

  </div>



