<!DOCTYPE html>
<html>
<head>
  <title>#WYNNING</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= button_to "BACK", root_path, :class => "button", :method => :get %>

<%= yield %>

</body>
</html>
