<!DOCTYPE html>
<html>
<head>
  <title>#WYNNING</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Rajdhani:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
<div class ="cf">
  <div class="navbar-fixed-top container-fluid srch">
    <%= form_tag tag_path, :placeholder => "placeholder text", class: 'pull-right' do %>
      <%= text_field_tag(:tag) %>
    <% end %>
    <span class="pull-left back-btn-margin">
        <%= link_to root_path, :class => "button" do %>
          <button class="back-btn btn-blue btn-fill-horz-o">
            <%= "BACK" %>
          </button>
        <% end %>
    </span>
    <div class="logo">
      #WYNNING
    </div>
  </div>
</div>
</header>


<%= yield %>

</body>
</html>
