<!DOCTYPE html>
<html>
<head>
  <title>#WYNNING</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
<%= button_to "BACK", root_path, :class => "button", :method => :get %>

<%= yield %>

</body>
</html>
